<div class="site-footer">
  <p>
    博客在风雨飘摇中度过
    <span id="since">1天0小时0分0秒</span>
    <span class="my-face">(o´ω`o)ﾉ</span>
  </p>
  <%- themeConfig.footerInfo %> | 
  <a class="rss" href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a>
  <div id="aplayer"></div>
</div>

<script>
  const ap = new APlayer({
      container: document.getElementById('aplayer'),
      fixed: true,
      loop: 'none',
      autoplay: false,
      preload: 'none',
      volume: 0.5,
      audio: [{
          name: '爆炒猫头鹰-Choco Strawberry（Hea2t/Star酱 Remix）',
          artist: 'Hea2t,Star酱',
          url: 'https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb3JlMmt6ZEhYZ2VoVlZVU3M2dktvaHlHWXZ1P2U9TW9rY2JN.mp3',
          cover: 'http://p2.music.126.net/JRX5apIl5qViACGmAeTz6g==/109951163877718520.jpg?param=300x300',
          lrc: '[00:00.00] 暂无歌词',
      }]
  });
  !function t() { 
        window.setTimeout(function () { t() }, 1e3);
        var e = new Date('2020','5',1), 
        n = ((new Date).getTime() - e.getTime()) / 864e5,
        r = Math.floor(n), 
        i = 24 * (n - r), 
        o = Math.floor(i), 
        a = 60 * (i - o), 
        s = Math.floor(60 * (i - o)), 
        l = Math.floor(60 * (a - s)); 
        $("#since").html(r + "天" + o + "小时" + s + "分" + l + "秒") 
    }()
</script>
<script>
  hljs.initHighlightingOnLoad()
</script>
